html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
}

/* === Common === */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 21px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 24.5px;
}

.btn:hover {
    background: #ffb900;
}

.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

/* ===Header=== */
.header {
    background: #fffcf4;
    position: sticky;
    top: -28px;
}

.header .body {
    display: flex;
    align-items: center;
}

.header .body ul {
    display: flex;
    align-items: center;
}

.header .body .navbar {
    display: flex;
    margin-left: auto;
    margin-right: 70px;
}

.header .content {
    padding: 36px 0 32px;
}

.header .navbar .active {
    margin-left: 40px;
}

.header .navbar .active a {
    font-weight: 400;
    font-style: Regular;
    font-size: 1.6rem;
    line-height: 28px;
    letter-spacing: 0%;
    color: #5f5b53;
}

.header .navbar .active a:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.header .navbar .active a::after {
    content: "";
    position: relative;
    display: block;
    width: 12px;
    height: 2px;
    left: 0px;
    bottom: 6px;
    border-radius: 1px;
    background: #171100;
}

.header .action .btn {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 1.6rem;
    letter-spacing: 0%;
    color: #ffffff;
    width: 144px;
}

/* ===Hero=== */
.hero {
    background: #fffcf4;
    padding: 32px 0 65px;
}

.hero .hero-body {
    display: flex;
    justify-content: space-between;
}

.hero .content .img-block {
    position: relative;
}

.hero .content .img-block .hero-stats {
    display: inline-block;
    position: absolute;
    bottom: 48px;
    right: -100px;
    height: 244px;
    width: 270px;
    background: #ffffff;
    border-radius: 12px;
}

.hero .content .info {
    margin-top: 64px;
    margin-left: 210px;
}

.hero .img-block .hero-img {
    width: 470px;
    height: 686px;
    object-fit: cover;
    object-position: 25% 100%;
    border-radius: 20px;
}

.hero .hero-stats .img-stats {
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-top: 14px;
}

.hero .hero-stats .img-stats:first-child {
    margin-top: 24px;
}

.hero .hero-stats .img-stats .desc {
    font-weight: 400;
    font-style: Regular;
    font-size: 1.4rem;
    line-height: 26px;
    letter-spacing: 0%;
    color: #5f5b53;
}

.hero .hero-stats .img-stats strong {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 1.8rem;
    line-height: 30px;
    letter-spacing: -2%;
    color: #171100;
}

.hero .hero-stats .img-stats .icon {
    margin-right: 16px;
}

.hero .info .sub-title {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 5.8rem;
    line-height: 68px;
    letter-spacing: 0%;
    color: #171100;
}

.hero .info .desc {
    margin-top: 22px;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #5f5b53;
}

.hero .cta-group {
    display: flex;
    margin: 38px 0 48px;
}

.hero .cta-group .btn {
    width: 180px;
    height: 64px;
    line-height: 64px;
    border-radius: 32px;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 1.8rem;
    letter-spacing: 0%;
    color: #ffffff;
    margin-right: 28px;
}

.hero .watch-video {
    display: flex;
    border: none;
    background-color: #fffcf4;
    align-items: center;
}

.hero .watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px #00000012;
    background: #ffffff;
}

.hero .info .row-stats {
    display: flex;
}

.hero .info .row-stats .desc {
    margin-right: 28px;
    margin-top: 8px;
}

.hero .info .row-stats .desc strong {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 4.4rem;
    line-height: 54px;
    letter-spacing: 0%;
    color: #171100;
    padding-right: 8px;
}
